{{#>layout title="Registr"}}
    <form method="post">
        <input type="text" name="username" placeholder="username" required>
        <input type="email" name="email" placeholder="email@gmail.com" required>
        <input type="password" name="password" placeholder="password" required>
        <button type="submit">submit</button>
    </form>
{{/layout}}